{% extends 'base.html.twig' %}

{% block body %}

    <h1> Compte </h1>

    <legend class="mb-4"></legend>

    <p>Ici le (peu) d'infos que le client a (et sans doute sa liste de facture dispo ?).</p>

{% endblock %}