{% extends 'base.html.twig' %}

{% block body %}

    <h1> {{ task }} un service </h1>

    <legend class="mb-4"></legend>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <button type="submit" class="btn btn-primary offset-5 col-2">{{ task }}</button>
    {{ form_end(form) }}

{% endblock %}