{% extends 'base.html.twig' %}

{% block body %}

    <h1> Liste des stagings </h1>

    <legend class="mb-4"></legend>

    {% include('pages/_stagings_table.html.twig') with stagings %}

{% endblock %}