{% extends 'base.html.twig' %}

{% block body %}

    <h1> Acceuil </h1>

    <legend></legend>
    </br>
    <p>Veuillez vous connecter afin de pouvoir profiter des fonctionnalités du site.</p>

{% endblock %}