{% extends 'base.html.twig' %}

{% block body %}

    <h1> Acceuil </h1>

    <legend></legend>
    </br>
    {% if is_granted('ROLE_USER') %}
        <p>Bienvenu sur notre plateforme de devis.</p>
    {% else %}
        <p>Veuillez vous connecter afin de pouvoir profiter des fonctionnalités du site.</p>
    {% endif %}

{% endblock %}