<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>

<body>

<h1>Email de confirmation d'inscription</h1>
<br>
<p>Un accés a été créé pour vous sur le gestionnaire de devis.</p>
<p>Connectez vous sur {{ url ~ 'login' }} à l'aide des identifiants suivants :</p>
<p>Identifiant : {{ email }}</p>
<p>Mot de passe : {{ mdp }}</p>
<br>
<p>Le mot de passe ne vous sera jamais demandé par un administrateur.</p>
<p>Si le mot de passe est perdu ou oublié un accés devra être générer à nouveau par l'administrateur.</p>

</body>