<footer class="footer">
    <div class="container">
        <div class="footer-infos row">
            <div class="offset-3 col-6 mt-4 mb-3 text-center">
                <h5>Contact</h5>

                <div>{{ 'phone' | getInfos }}</div>
                <div>{{ 'email' | getInfos }}</div>
            </div>
            {#
                <div class="col-6 mt-4 mb-3 text-center">
                    <h5>Horaires</h5>

                    <div>Lun-Ven: 9:00-18:00</div>
                    <div>Sam: 9:00-12:00</div>
                    <div>Dim : Fermé</div>
                </div>
            #}
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Copyright - NeoNet Consulting SAS France
        </div>
    </div>
</footer>