<div class="text-center">
    <p>5COM, SARL au capital de 329.939 Euros</p>
    <p>RCS 444 713 283 00026  APE 725Z TVA Intra-communautaire FR 184 447 132 83</p>
    <p>62 rue Brancion 75015 PARIS – Tél. : 01 42 73 11 50 – email : serviceclient@5com.fr</p>
</div>