<div class="text-center">
    <p>CONCORDELEC</p>
    <p>RCS 444 713 283 00026  APE 725Z TVA Intra-communautaire FR 184 447 132 83</p>
    <p>87 Rue Legendre 75017 PARIS – Tél. : 01 46 27 27 62 – email (commercial) : commercial@concordelec.com</p>
</div>