<!DOCTYPE html>
<html xml:lang="fr" lang="fr">
<head>
    <meta charset="utf8mb4"/>

    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Bootstrap v4.0.0 #}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    {# Pdf Style #}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('css/pdf-style.css') }}">

    <title>Staging</title>

</head>
<body>

    Staging lol

</body>
